<section class="section section-contact ">
    <div class="container" id="contact-top">
      <h2 class="common-heading">contact us</h2>
    </div>

    <div class="section-contact-main contact-container">
      <form action="https://formspree.io/f/mleyjylq" method="POST">
        <div class="grid grid-two-col">
          <input type="text" name="username" id="" required placeholder="Name">
          <input type="email" name="email" required placeholder="Email" autocomplete="false">
        </div>
        <div>
          <input type="text" name="subject" placeholder="Subject">
        </div>
        <div>
          <textarea name="message" placeholder="Message"></textarea>
        </div>
        <div>
          <input type="submit" value="send message" class="btn">
        </div>
      </form>
    </div>
  </section>