<section class="section section-freelancer ">
  <div class="overlay"></div>
  <div class="container">
  <h2 >We are here to <span>HELP</span> you</h2>
  <p></p>
  <a href="#contact-top" class="btn">Yes Help Me Out !</a>
  </div>
</section>