<header class="header" id="home-top">
  <img src="<%= base_link %>/images/logo.png" alt="SoftData24" width="200" height="auto">

  <%- include('navbar') %>

  <div class="mobile-navbar-btn">
    <ion-icon class="mobile-nav-icon" name="menu-outline" class="mobile-nav-icon"></ion-icon>
    <ion-icon class="mobile-nav-icon" name="close-outline" class="mobile-nav-icon"></ion-icon>
  </div>
</header>