<nav class="navbar">
        
    <ul class="navbar-lists">
        <li><a class="navbar-link home-link" href="#home-top" >Home</a></li>
        <li><a class="navbar-link about-link" href="#about-top">About</a></li>
        <li><a class="navbar-link service-link" href="#services-top">Services</a></li>
        <li><a class="navbar-link portfolio-link" href="#portfolio-section">Why Choose Us</a></li>
        <li><a class="navbar-link" href="#contact-top">Contact Us</a></li>
    </ul>
</nav>