<section class="section-services section" id="services-top">
    <div class="container">
      <h2 class="common-heading">Service Offers</h2>
      <p>
        Our Strategy and Innovation practices reflect in steering our customer's solutions in the right direction. Providing effective idea conceptualization, market research, gap analysis, road-mapping, and LEAN Product Management helps our customers achieve the most out of their developed.1Services Verticals:
        - Data-Driven Decision with top Data Scientists
        - Custom Application Development
        - Outsourced Product Development
        - AI & Machine Learning Development
        - User Experience Design Services 
      </p>
    </div>

    <div class="container grid grid-three-col">

      <div class="service-box">
        <ion-icon class="service-icon" name="desktop-outline"></ion-icon>
        <h3> Data Services with top Data Scientists</h3>
        <p>“Build data driven project based on Bussiness Interest”</p>
      </div>

      <div class="service-box">
        <ion-icon name="logo-react" class="service-icon"></ion-icon>
        <h3>Custom Application Development</h3>
        <p>
          "Build applications to Maximize your business efficiency with our customized solutions"
        </p>
      </div>

      <div class="service-box">
        <ion-icon class="service-icon" name="desktop-outline"></ion-icon>
        <h3>Outsourced Product Development</h3>
        <p>
          “So, for us, it's not a means of business but an effort to take it to one and all and regain the lost glory of our art culture, and science, at least some if not all.”
        </p>
      </div>

      <div class="service-box">
        <ion-icon class="service-icon" name="desktop-outline"></ion-icon>
        <h3> AI & Machine Learning Development</h3>
        <p>
          “The ultimate destination for every software and data-valued Business; this is what we dream of and work hard for.”
        </p>
      </div>
      <div class="service-box">
        <ion-icon class="service-icon" name="desktop-outline"></ion-icon>
        <h3>User Experience Design Services</h3>
        <p>
          “We at SoftData24 have a principle "we grow/rise by lifting others" which is the main driving factor for us to give our utmost priority to building high-quality software and data products.”
        </p>
      </div>
      <div class="service-box">
        <ion-icon class="service-icon" name="desktop-outline"></ion-icon>
        <h3>Software Design</h3>
        <p>
          “ every year made here contributes to our "lifting others" dream, as 5% of that goes to publications like Gitapress (Gorakhpur), Sat Sahitya Prakashan, etc. ”
        </p>
      </div>
    </div>
</section>