<div class="swiper-slide">
  <div class="swiper-client-msg">
    <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
  </div>
  <div class="swiper-client-data grid grid-two-col ">
    <figure>
    <img loading="lazy" src="<%= base_link %>/images/clients/a.jpg" alt="">
    </figure>
    <div class="client-data-details">
      <p>SoftData24</p>
      <p>Software Developer</p>
    </div>
  </div>
</div>