<section class="section-work-data section ">
    <div class="container grid grid-four-col">
      <div>
        <h2 data-number="2000" class="counter-numbers">0</h2>
        <p>project completed</p>
      </div>
      <div>
        <h2 data-number="6000" class="counter-numbers">0+</h2>
        <p>Happy clients</p>
      </div>
      <div>
        <h2 data-number="5000" class="counter-numbers">0+</h2>
        <p>cups of coffee</p>
      </div>
      <div>
        <h2 data-number="3000" class="counter-numbers">0+</h2>
        <p>real professionals</p>
      </div>
    </div>
</section>